@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

@font-face {
    font-family: "Source Sans Pro";
    src: url('./font/sans-serif/SourceSansPro-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Source Sans Pro Black';
    src: url('./font/sans-serif/SourceSansPro-Black.ttf') format('truetype')
}

@font-face {
    font-family: 'Source Sans Pro SemiBold';
    src: url('./font/sans-serif/SourceSansPro-SemiBold.ttf') format('truetype')
}

::-webkit-scrollbar{
    width: 16px;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(100, 100, 100, .5);
    border-radius: 8px;
    border: 4px solid white;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(100, 100, 100, .7);
}
::-webkit-scrollbar-thumb:active{
    background-color: rgb(172, 87, 252);
}

*{
    box-sizing: border-box;
    font-size: 15px;
    user-select: none;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro';
    margin: 0; padding: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(230, 230, 230, 0) !important;
}

body{
    margin: 0; padding: 0;
}

.btn{
    position: relative;
    width: max-content; height: max-content;
    margin: 0; padding: 0;
    margin-bottom: 20px;
    margin-left: 22.5px;
    padding-top: 10px; padding-bottom: 10px;
    padding-left: 22.5px; padding-right: 22.5px;
    line-height: 24px;
    font-size: 20px;
    font-family: 'Source Sans Pro SemiBold';
    background-color: blueviolet;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    border-radius: 8px;
    display: flex;
    align-items: center; justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
    background-color: blue;
}

.ui-controller{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background-color: white;
}

.menu-bar{
    position: fixed;
    top: 0; left: 0;
    width: 250px;
    height: calc(100% - 35px);
    margin: 0; padding: 0;
    overflow-y: auto;
    background-color: white;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05); */
    background: linear-gradient(90deg, white 90%, rgb(250, 250, 250));
    z-index: 10;
}

.menu-bar>.file{
    width: 100%;
    height: 25px;
    margin: 0; padding: 0;
    padding-left: 10px; padding-right: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.menu-bar>.file:hover{
    background-color: rgba(0, 0, 0, .035);
    transition: 0s;
}
.menu-bar>.file:active{
    background-color: rgba(0, 0, 0, .1);
    transition: 0s;
}

.menu-bar>.file>.file-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Source Sans Pro';
}

.btn-bar{
    position: fixed;
    bottom: 0; left: 0;
    height: 50px;
    width: 250px;
    margin: 0; padding: 0;
    overflow-y: hidden;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    background: linear-gradient(90deg, white 90%, rgb(250, 250, 250));
    display: flex;
    align-items: center; justify-content: center;
    z-index: 9;
    cursor: pointer;
}
.btn-bar:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}

.btn-bar>img{
    pointer-events: none;
    height: 30px;
}

.ui-standard{
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 249px);
    height: 100%;
    margin: 0; padding: 0;
    padding-bottom: 50px;
    background-color: white;
    overflow-y: auto;
    z-index: 5;
}

.new-box{
    width: 800px;
    height: max-content;
    margin: 0; padding: 0;
    margin-top: 25px;
    margin-left: auto; margin-right: auto;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    /* border: 1px dashed red; */
}

.new-box>.title{
    margin: 0; padding: 0;
    margin-top: 20px;
    font-family: 'Source Sans Pro SemiBold';
    text-align: left;
    font-size: 25px;
    text-indent: 22.5px;
    color: black;
}

.new-box>.content{
    margin: 0; padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro';
    text-align: justify;
    hyphens: auto;
    line-height: 24px;
    font-size: 17px;
    padding-left: 22.5px; padding-right: 22.5px;
    color: black;
}

.modernbox-container{
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    overflow: visible;
}

.modern-box{
    width: 375px;
    height: 150px;
    margin: 0; padding: 0;
    margin-top: 25px;
    /* margin-left: auto; margin-right: auto; */
    margin-right: 50px;
    padding-right: 25px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
    transition: .3s;
    cursor: pointer;
}
.modern-box:hover{
    background-color: rgb(240, 240, 240);
}

.modern-box>img{
    margin: 0; padding: 0;
    margin-left: 25px;
    width: 100px !important;
    min-width: 100px !important;
    pointer-events: none;
}

.modern-box>.big{
    margin: 0; padding: 0;
    margin-left: 25px;
    color: blueviolet;
    font-size: 28px;
    font-family: 'Source Sans Pro SemiBold';
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ui-standard>.center{
    margin: 0; padding: 0;
    margin-left: auto; margin-right: auto;
    /* width: 800px; */
    /* border: 3px dashed red; */
}

.ui-standard>.center>*{
    width: 800px;
    margin-left: auto !important; margin-right: auto !important;
}
.ui-standard>.center>*>*{
    width: 800px;
    margin-left: auto !important; margin-right: auto !important;
}

.ui-standard>.center>.title{
    margin: 0; padding: 0;
    font-family: 'Source Sans Pro Black';
    font-size: 40px;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 50px;
    width: 1000px !important;
}

.ui-standard>.center>.inetlllothüshune{
    margin: 0; padding: 0;
    font-family: 'Source Serif Pro';
    text-align: justify;
    hyphens: auto;
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    text-indent: 19px;
}

.ui-standard>.center>.text-container{
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    margin-top: 15px;
    /* border: 3px dashed red; */
}

.ui-standard>.center>.text-container>.chapter-title{
    margin: 0; padding: 0;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: 'Source Sans Pro SemiBold';
    text-align: left;
    font-size: 25px;
}

.ui-standard>.center>.text-container>.paragraphe{
    margin: 0; padding: 0;
    /* margin-top: 15px; */
    font-family: 'Source Serif Pro';
    text-align: justify;
    hyphens: auto;
    font-size: 16px;
    line-height: 22px;
    text-indent: 19px;
}

.ui-standard>.center>.text-container>.legend{
    margin: 0; padding: 0;
    margin-top: 40px;
    font-family: 'Source Sans Pro';
    text-align: right;
    font-size: 16px;
    line-height: 24px;
}

.settings-modal{
    position: fixed;
    height: 500px;
    width: 450px;
    margin: 0; padding: 0;
    top: calc(50% - 250px); left: calc(50% - 225px);
    background-color: rgb(251, 251, 251);
    backdrop-filter: blur(4px);
    border: 2px solid rgb(240, 240, 240);
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    z-index: 1000;
    animation: settingsModal .3s;
    transition: .3s;
    display: none;
}

@keyframes settingsModal {
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.settings-modal>.title{
    margin: 0; padding: 0;
    margin-top: 20px; margin-bottom: 20px;
    font-family: 'Source Sans Pro SemiBold';
    font-size: 25px;
    text-align: center;
}

.settings-modal>.settings-bar{
    margin: 0; padding: 0;
    padding-left: 25px; padding-right: 25px;
    padding-top: 15px; padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-modal>.settings-bar>.settingsbar-title{
    margin: 0; padding: 0;
    font-size: 16px;
}

.settings-modal>.settings-bar>.settingsbar-toggle-area{
    margin: 0; padding: 0;
    background-color: rgb(225, 225, 225);
    height: 25px;
    width: 80px;
    border-radius: 17.5px;
    display: flex;
    /* align-items: center; */
    padding: 2.5px;
    cursor: pointer;
}

.settings-modal>.settings-bar>.settingsbar-toggle-area>.settingsbar-togglearea-checkbtn{
    margin: 0; padding: 0;
    background-color: rgb(245, 245, 245);
    height: 20px;
    width: 40px;
    border-radius: 17.5px;
    -webkit-transition: all .5s cubic-bezier(0.09, 1.04, 0.33, 0.96);
    transition: all .5s cubic-bezier(0.09, 1.04, 0.33, 0.96);
}

.mask{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(20px);
    z-index: 900;
    cursor: pointer;
    animation: mask .3s;
    transition: .3s;
    display: none;
}

@keyframes mask {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width: 900px){
    .menu-bar{
        display: none;
    }
    .ui-standard{
        left: 0;
        width: 100%;
        padding-left: 10px; padding-right: 10px;
    }
    .ui-standard>.center>*{
        width: 100% !important;
    }
    .ui-standard>.center>*>*{
        width: 100% !important;
    }
}

@media screen and (max-width: 1150px) {
    .new-box{
        width: 600px;
    }
    .modernbox-container{
        width: 600px;
        height: max-content;
        margin: 0; padding: 0;
        margin-left: auto; margin-right: auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        overflow: visible;
    }
    .modern-box{
        width: 100%;
        margin: 0; padding: 0;
        margin-left: 0 !important; margin-right: 0 !important;
        margin-top: 25px;
    }
    .ui-standard>.center>*{
        width: 600px;
    }
    .ui-standard>.center>*>*{
        width: 600px;
    }
}