@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

::-webkit-scrollbar{
    width: 16px;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(100, 100, 100, .5);
    border-radius: 8px;
    border: 4px solid white;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(100, 100, 100, .7);
}
::-webkit-scrollbar-thumb:active{
    background-color: rgb(172, 87, 252);
}

*{
    box-sizing: border-box;
    font-size: 15px;
    user-select: none;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro';
    margin: 0; padding: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(230, 230, 230, 0) !important;
}

body{
    margin: 0; padding: 0;
}

.ui-controller{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background-color: white;
}

.menu-bar{
    position: fixed;
    top: 0; left: 0;
    width: 250px;
    height: calc(100% - 35px);
    margin: 0; padding: 0;
    overflow-y: auto;
    background-color: white;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05); */
    background: linear-gradient(90deg, white 90%, rgb(250, 250, 250));
    z-index: 10;
}

.menu-bar>.file{
    width: 100%;
    height: 25px;
    margin: 0; padding: 0;
    padding-left: 10px; padding-right: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.menu-bar>.file:hover{
    background-color: rgba(0, 0, 0, .035);
    transition: 0s;
}
.menu-bar>.file:active{
    background-color: rgba(0, 0, 0, .1);
    transition: 0s;
}

.menu-bar>.file>.file-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Source Sans Pro';
}

.btn-bar{
    position: fixed;
    bottom: 0; left: 0;
    height: 35px;
    width: 250px;
    margin: 0; padding: 0;
    overflow-y: hidden;
    background: linear-gradient(90deg, white 90%, rgb(250, 250, 250));
    display: flex;
    flex-flow: row;
    z-index: 9;
}

.btn-btnbar{
    height: 35px; width: 35px;
    padding: 0; margin: 0;
    /* margin-left: auto; margin-right: auto; */
    display: flex;
    align-items: center; justify-content: center;
    cursor: pointer;
}

.btn-btnbar>svg{
    height: 90%; width: 90%;
    margin: 0; padding: 0;
    pointer-events: none;
}

.btn-btnbar>svg>path{
    fill: black;
}

.ui-standard{
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 249px);
    height: 100%;
    margin: 0; padding: 0;
    padding-bottom: 50px;
    background-color: white;
    overflow-y: auto;
    z-index: 5;
}

.new-box{
    width: 800px;
    height: max-content;
    margin: 0; padding: 0;
    margin-top: 25px;
    margin-left: auto; margin-right: auto;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    /* border: 1px dashed red; */
}

.new-box>.title{
    margin: 0; padding: 0;
    margin-top: 15px; margin-bottom: 15px;
    font-family: 'Source Sans Pro SemiBold';
    text-align: left;
    font-size: 25px;
    text-indent: 22.5px;
    color: black;
}

.ui-standard>.center{
    margin: 0; padding: 0;
    margin-left: auto; margin-right: auto;
    /* width: 800px; */
    /* border: 3px dashed red; */
}

.ui-standard>.center>*{
    width: 800px !important;
    margin-left: auto !important; margin-right: auto !important;
}
.ui-standard>.center>*>*{
    width: 800px !important;
    margin-left: auto !important; margin-right: auto !important;
}

.ui-standard>.center>.title{
    margin: 0; padding: 0;
    font-family: 'Source Sans Pro Black';
    font-size: 40px;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 50px;
    width: 1000px !important;
}

.ui-standard>.center>.inetlllothüshune{
    margin: 0; padding: 0;
    font-family: 'Source Serif Pro';
    text-align: justify;
    hyphens: auto;
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
}

.ui-standard>.center>.text-container{
    width: 100%;
    height: max-content;
    margin: 0; padding: 0;
    margin-top: 15px;
    /* border: 3px dashed red; */
}

.ui-standard>.center>.text-container>.chapter-title{
    margin: 0; padding: 0;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: 'Source Sans Pro SemiBold';
    text-align: left;
    font-size: 25px;
}

.ui-standard>.center>.text-container>.paragraphe{
    margin: 0; padding: 0;
    /* margin-top: 15px; */
    font-family: 'Source Serif Pro';
    text-align: justify;
    hyphens: auto;
    font-size: 16px;
    line-height: 22px;
    text-indent: 19px;
}

.ui-standard>.center>.text-container>.legend{
    margin: 0; padding: 0;
    margin-top: 40px;
    font-family: 'Source Sans Pro';
    text-align: right;
    font-size: 16px;
    line-height: 22px;
}

.settings-modal{
    position: fixed;
    height: 500px;
    width: 450px;
    margin: 0; padding: 0;
    top: calc(50% - 250px); left: calc(50% - 250px);
    background-color: rgb(251, 251, 251);
    backdrop-filter: blur(4px);
    border: 2px solid rgb(240, 240, 240);
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .035);
    z-index: 1000;
    display: none;
}

.settings-modal>.title{
    margin: 0; padding: 0;
    margin-top: 20px; margin-bottom: 20px;
    font-family: 'Source Sans Pro SemiBold';
    font-size: 25px;
    text-align: center;
}

.settings-modal>.settings-bar{
    margin: 0; padding: 0;
    padding-left: 25px; padding-right: 25px;
    padding-top: 15px; padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-modal>.settings-bar>.settingsbar-title{
    margin: 0; padding: 0;
    font-size: 16px;
}

.settings-modal>.settings-bar>.settingsbar-toggle-area{
    margin: 0; padding: 0;
    background-color: rgb(225, 225, 225);
    height: 25px;
    width: 80px;
    border-radius: 17.5px;
    display: flex;
    /* align-items: center; */
    padding: 2.5px;
    cursor: pointer;
}

.settings-modal>.settings-bar>.settingsbar-toggle-area>.settingsbar-togglearea-checkbtn{
    margin: 0; padding: 0;
    background-color: rgb(245, 245, 245);
    height: 20px;
    width: 40px;
    border-radius: 17.5px;
    -webkit-transition: all .5s cubic-bezier(0.09, 1.04, 0.33, 0.96);
    transition: all .5s cubic-bezier(0.09, 1.04, 0.33, 0.96);
}

.mask{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background-color: rgba(0, 0, 0, .05);
    backdrop-filter: blur(20px);
    z-index: 900;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1350px){
    .ui-standard>.center>.title{
        font-size: 37.5px;
        width: 900px !important;
    }
}

@media screen and (max-width: 1250px){
    .ui-standard>.center>.title{
        font-size: 32.5px;
        width: 750px !important;
    }
}

@media screen and (max-width: 1150px){
    .ui-standard>.center>*{
        width: 600px !important;
        font-size: 15px !important;
        line-height: 20px !important;
    }
    .ui-standard>.center>*>*{
        width: 600px !important;
        font-size: 15px !important;
        line-height: 20px !important;
    }
}