<div class="menu-bar">

    <div class="file" onclick="location.href = indexPhpPath;" title="Acöhnme">
        <p class="file-name">Acöhnme</p>
    </div>

    <div class="file" onclick="location.href = crrdwallPhpPath;" title="Mur de la C.R.R.D.">
        <p class="file-name">Mur de la C.R.R.D.</p>
    </div>

    <div class="file" onclick="location.href = polsenbPhpPath;" title="Plan officiel de lancement du système économique de la Nouvelle Birmanie">
        <p class="file-name">Plan officiel de lancement du système économique de la Nouvelle Birmanie</p>
    </div>

    <div class="btn-bar" id="openSettingsModal">
        <img src="https://icon-library.com/images/white-settings-icon/white-settings-icon-2.jpg">Paramètres
    </div>

</div>